@model RestaurantManager.Models.User

@{
    ViewData["Title"] = "Szczegóły pracownika";
}

<h1>Szczegóły</h1>

<div>
    <h4>Konto Użytkownika</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nazwa użytkownika
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            Rola
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
    </dl>
</div>

@if (Model.Employee != null)
{
    <div class="mt-4">
        <h4>Profil Pracownika</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Employee.FullName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Employee.FullName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Employee.Phone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Employee.Phone)
            </dd>

            @* USUNIĘTO WYŚWIETLANIE HOURLY RATE *@

            <dt class="col-sm-2">
                Tagi / Stanowiska
            </dt>
            <dd class="col-sm-10">
                @if (Model.Employee.PositionTags.Any())
                {
                    <ul class="list-unstyled mb-0">
                        @foreach (var tag in Model.Employee.PositionTags)
                        {
                            <li>@tag.Name <small class="text-muted">(@tag.HourlyRate.ToString("C")/h)</small></li>
                        }
                    </ul>
                }
                else
                {
                    <span class="text-muted">Brak tagów</span>
                }
            </dd>
        </dl>
    </div>
}
else
{
    <div class="alert alert-warning mt-4">
        Ten użytkownik nie ma jeszcze uzupełnionego profilu pracownika.
    </div>
}

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edytuj profil</a>
    <a asp-action="Index" class="btn btn-secondary">Powrót do listy</a>
</div>